/* PRINT */
@media print {
	body {
		background: none;
	}
	a.button {
		display: none;
	}
}

#print {
  background: white;
  padding: 25px;
}

.pieLegend li {
	list-style: none;
	width: 100%;
	display: inline-block;
	padding: 0;
}
.pieLegend li .color {
	width: 0px;
	height: 0px;
	border: 10px solid;
	margin-right: 10px;
}

table {
	page-break-inside: avoid;
}

h3, h2 {
	clear: both;
}

ul.pieLegend li .color, ul.pieLegend li .text {
    float: left;
}

.canvas-holder {
	text-align: left;
	float: left;
}

.explanationText {
	clear: both;
	margin-top: 10px;
}

.chartTable {
	border-collapse: collapse;
	margin-left: 10px;
	margin-top: 20px;
}

.chartTable th,
.chartTable td {
	text-align: left;
	padding: 0 10px;
}
.chartTable tr {
	border-bottom: 1px solid #DDD;
}
