/* PRINT */
@media print {
	body {
		background: none;
	}
	a.button {
		display: none;
	}
}

#print {
  background: white;
  padding: 15px;
}

.pieLegend li {
	list-style: none;
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 0;
}
.pieLegend li .color {
	width: 0px;
	height: 0px;
	border: 10px solid;
	position: absolute;
}

table tr {
	page-break-inside: avoid;
}

h3, h2 {
	clear: both;
}

.tableContainer {
	width: 670px;
}
.tableContainer > tbody > tr > td {
	width: 50%;
}

ul.pieLegend li .text {
    margin-left: 25px;
}

.tableContainer ul.pieLegend {
	width: 210px;
	padding: 0;
	margin: 0 0 0 10px;
}
.tableContainer ul.pieLegend,
.tableContainer .canvas-holder {
	float: left;
}

.tableContainer h3 {
    border-bottom: 1px solid #ddd;
    margin-right: 30px;
}

.canvas-holder {
	text-align: left;
	float: left;
}

.explanationText {
	clear: both;
	margin-top: 10px;
}

.chartTable {
	border-collapse: collapse;
	margin-left: 10px;
}

.chartTable th,
.chartTable td {
	text-align: left;
	padding: 0 10px;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chartTable tr {
	border-bottom: 1px solid #DDD;
}

.sectionTitle {
	page-break-before: always;
}
