span.date {
    font-style: italic;
    display: inline-block;
    min-width: 150px;
}

span.event {
    font-weight: bold;
    min-width: 170px;
    display: inline-block;
}

span.origin,
span.ip {
    display: inline-block;
    min-width: 110px;
}

span.code {
    font-weight: bold;
}

li#header {
    background-color: #ddd;
}


#months button {
  margin-left: 10px;
}
button.topOffset {
  margin-top: 23px;
}
